body {
	font-size: 16px;
	color: #fff;
	background-color: rgb(239, 248, 233);
	font-family: 'Oxygen', sans-serif;
}

.todo-title-main {
	margin: 20px 15%;
	font-family: 'Red Rose', cursive;
	color: black;
}

.input-block {
	margin: 0px 15%;
}

.todo-input {
	width: 450px;
	margin: 20px 15% 0px 15%;
}

#todo-textbox {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.input-checkbox {
	float: left;
	border-bottom-left-radius: 10px;
	width: 50%;
}

.input-listbtn {
	border-bottom-right-radius: 10px;
	width: 50%;
}

.todo-title-list {
	text-align: center;
	color: black;
	font-family: 'Red Rose', cursive;
	width: fit-content;
	float: left;
}

.todo-list {
	width: 40%;
	margin: 30px auto;
}

.list-group-item {
	background-color: transparent;
	color: black;
	font-family: 'Source Serif Pro', serif;
	font-size: 18px;
}

.list-item-input {
	background-color: transparent;
	border: 0px;
	padding: 0px 10px;
	width: 75%;
	display: inline;
	font-size: 20px;
}

.success-message {
  width: fit-content;
  font-size: 14px;
  margin: 15px 15% 0px 15%;
  padding: 7px;
}